{
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 4,
  "semi": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 80,
  "proseWrap": "always",
  "bracketSameLine": true
}